DOMAIN=mydomain.com or subdomain.mydomain.com
UPLOAD_API_KEY=MY_API_KEY
OPENDTU_IP=192.168.1.150
SHELLY_IP=192.168.1.25
DATABASE_PATH=./data/solar_data.db
BUFFER_FILE_PATH=./data/buffer.json
LOG_FILE=./data/output.log